{% extends 'main.twig' %}
{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/posts/css/error.css">
{% endblock %}
{% block main %}
  <div class="error-box">
    <h1 class="error-header">{{ errorHeader }}</h1>
    <h3 class="error-desc">{{ errorDesc }}</h3>
  </div>
{% endblock %}
